* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-block-size: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #12111f;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

h1 {
  color: #97a3b6;
  font-size: 36px;
  margin: 0;
}

h2 {
  color: #f2f5f9;
  font-size: 20px;
  margin: 0;
}

h3 {
  margin: 0;
  color: #cdd5e0;
}

p {
  margin: 0;
  color: #cdd5e0;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

main {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.relative {
  position: relative;
  width: 388px;
}

.absoluteimg {
  position: absolute;
  right: 5px;
  width: 100%;
}

.absoluteimg__bigger {
  display: none;
}

.h1container {
  inline-size: 388px;
  margin-top: 85px;
  text-align: center;
  padding-top: 25px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.h2container {
  margin-top: 96px;
  text-align: center;
}

.h2ptext {
  color: #97a3b6;
  font-size: 16px;
}

.list-item {
  color: #f2f5f9;
  font-size: 14px;
  padding: 8px 20px;
}

.list-item:active,
.list-item:hover {
  background-color: #2a2936;
  border-radius: 50px;
}

.active-item {
  background-color: #2a2936;
  border-radius: 50px;
  color: #f2f5f9;
  font-size: 14px;
  padding: 8px 20px;
}

.container__accord {
  padding: 12px 32px;
}

nav,
ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.accordp {
  line-height: 1.5;
  width: 100%;
  overflow: hidden;
  transition: 1s;
  color: #cdd5e0;
  font-size: 16px;
  height: 0;
}

.ready__acord {
  height: auto;
  line-height: 1.5;
  width: 100%;
  cursor: pointer;
}

.ready__container {
  background-color: #2a2936;
  border-radius: 20px;
}

.open__accord {
  cursor: pointer;
}

.opened__container.active {
  background-color: #2a2936;
  border-radius: 20px;
}

.opened__container.active .container__accord {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 28px 32px;
}

.opened__container.active .accordp {
  height: auto;
}
.opened__container.active h3 {
  font-size: 16px;
  transition: 0.5s;
}
.opened__container.active .h3.active {
  color: #f2f5f9;
}

.arrow_up {
  display: none;
}

.opened__container.active .arrow_up {
  display: block;
}

.opened__container.active .arrow_down {
  display: none;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.gap-40 {
  gap: 40px;
}

.gap-20 {
  gap: 20px;
}

.mb-80 {
  margin-bottom: 80px;
}

@media screen and (min-width: 415px) {
  body {
    padding: 76px 90px 80px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .absoluteimg {
    display: none;
  }

  .relative {
    width: 820px;
  }

  .absoluteimg__bigger {
    display: block;
    position: absolute;
    width: 100%;
  }

  .h1container {
    margin-right: 70px;
  }

  h1 {
    font-size: 48px;
    inline-size: 455px;
  }

  .h2container {
    margin-top: 120px;
  }

  nav {
    flex-direction: row;
  }
}

@media screen and (min-width: 1350px) {
  body {
    padding: 76px 253px 80px;
  }

  @media screen and (min-width: 1350px) {
    .relative {
      width: 1000px;
    }
  }

  .h2container {
    margin-top: 180px;
  }
}
